# OPERATORS

In [1]:
import math

In [2]:
# Introduction

print(3 + 2)   # addition(+)
print(3 - 2)   # subtraction(-)
print(3 * 2)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

5
1
6
1.5
9
1
1

# ARITHMATIC OPERATORS

In [3]:
# Integers

print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                      # it means 3 * 3

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [4]:
# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [5]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [8]:
a,b=2,3

In [12]:
# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [10]:
print(total)
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  -1
a * b =  6
a / b =  0.6666666666666666
a % b =  2
a // b =  0
a ** b =  8

In [13]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

In [14]:
# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [15]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

# ASSIGNMENT OPERATORS

In [16]:
x,y,p,q,r,s = 2,2,6,6,7,7

In [17]:
x=x+2
y+=9
print(x)
print(y)

4
11

In [18]:
r=r*2
s*=2
print(r)
print(s)

14
14

In [19]:
p=p-1
q-=1
print(p)
print(q)

5
5

# RELATIONAL OPERATORS

In [20]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2

True
True
False
True
True
False
True

In [22]:
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

False
True
True
False
True
True
False

# LOGICAL OPERATORS

In [23]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [24]:
# Another way comparison
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all')       # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')            # True

A in Asabeneh True
B in Asabeneh False
True
a in an: True

In [25]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false

True
False
False
True
True
False

In [26]:
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

False
False
True
True
False

# NUMBER SYSTEM CONVERSION

In [27]:
print(bin(25))
print(bin(39))

0b11001
0b100111

In [28]:
print(int(0b10110110))
print(int(0b00101101))

182
45

In [29]:
print(oct(59))
print(oct(98))

0o73
0o142

In [30]:
print(hex(75))
print(hex(19))

0x4b
0x13

# BITWISE OPERATORS

In [31]:
# Complements
print(~54)                   # -55
print(~6)                    # -7
print(~-32)                  # 31

-55
-7
31

In [32]:
print(12 & 73)               # AND
print(22 | 63)               # OR
print(81^44)                 # XOR
print(22<<2)                 # Left Shift (in this case we gain 2 bits)
print(20>>3)                 # Right Shift (in this case we lose 3 bits)

8
63
125
88
2