# DICTIONARY

In [1]:
 # Empty Dictionary
D={}

In [2]:
# Collection of Key-value pairs
# Keys- No duplicates allowed, Values- duplicates allowed
# Mutable
# can store multiple datatypes

In [4]:
D1={
    1:'one',
    2:'two',
    3:'three',
    4:'Four',
    5:'Five'
}

print(len(D1))
print(D1)

5
{1: 'one', 2: 'two', 3: 'three', 4: 'Four', 5: 'Five'}

In [6]:
for i in enumerate(D1):
    print(i)                            # Prints (index,Key)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

# Dict Membership (only for keys)

In [7]:
# Checks if key in Dict

print(200 in D1)                                 # False
print(1 in D1)                                   # True
print('one' in D1)                               # False

False
True
False

# Nested Dictionary

In [8]:
# Storing another group in Dict

In [9]:
d={'Maverick':'TopGun',
   'EthanHunt':'MissionImpossible',
   ('Wade Wilson','Steve Rogers'):['Deadpool','Captain America']}

print(d['EthanHunt'])
print(d[('Wade Wilson','Steve Rogers')])
print(d[('Wade Wilson','Steve Rogers')][0])
print(d[('Wade Wilson','Steve Rogers')][1])

MissionImpossible
['Deadpool', 'Captain America']
Deadpool
Captain America

In [11]:
D2= {7:'sieben',
     8:'akht',
     'S':["Superman", "Sentry", "Spiderman"],
     'G':("Gambit", "Green Lantern"),
     'Dune':{'Lisan-Al-Gaib':'Voice from the outer world',
             'Kwisatz Haderach':'The Chosen One'
             }}
print(D2)

{7: 'sieben', 8: 'akht', 'S': ['Superman', 'Sentry', 'Spiderman'], 'G': ('Gambit', 'Green Lantern'), 'Dune': {'Lisan-Al-Gaib': 'Voice from the outer world', 'Kwisatz Haderach': 'The Chosen One'}}

# Creating a Dict from a sequence of keys

In [12]:
K4={'W','X','Y','Z'}
D4=dict.fromkeys(K4)
print(D4)                                 # D4= {'X': None, 'Y': None, 'W': None, 'Z': None}

{'Y': None, 'Z': None, 'X': None, 'W': None}

In [13]:
K5={'P','Q','R'}
V5=69
D5=dict.fromkeys(K5,V5)
print(D5)                                 # D5= {'R': 69, 'Q': 69, 'P': 69}

{'P': 69, 'Q': 69, 'R': 69}

In [14]:
K6={'AA','BB','CC','DD'}
V6=[10,20,30]
D6=dict.fromkeys(K6,V6)
print(D6)                                 # D6= {'BB': {10, 20, 30}, 'AA': {10, 20, 30}, 'DD': {10, 20, 30}, 'CC': {10, 20, 30}}
V6.append(40)
print(D6)                                 # {'CC': [10, 20, 30, 40], 'BB': [10, 20, 30, 40], 'AA': [10, 20, 30, 40], 'DD': [10, 20, 30, 40]}

{'CC': [10, 20, 30], 'DD': [10, 20, 30], 'AA': [10, 20, 30], 'BB': [10, 20, 30]}
{'CC': [10, 20, 30, 40], 'DD': [10, 20, 30, 40], 'AA': [10, 20, 30, 40], 'BB': [10, 20, 30, 40]}

# Dictionary Methods

In [15]:
# the dict() constructor to convert an existing dictionary into a new dictionary,  essentially creating a copy

D3_1= dict({1:'eins', 2:'zwei', 3:'drei', 4:'vier', 5:'funf', 6:'secks'})
D3_2= dict({'uno':1, 'dos':2, 'tres':3, 'cuatro':4, 'cinco':5})
print(D3_1)
print(D3_2)

{1: 'eins', 2: 'zwei', 3: 'drei', 4: 'vier', 5: 'funf', 6: 'secks'}
{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}

In [16]:
print(D3_1.keys())                          # dict_keys([1, 2, 3, 4, 5, 6])

dict_keys([1, 2, 3, 4, 5, 6])

In [17]:
print(D3_1.values())                        # dict_values(['eins', 'zwei', 'drei', 'vier', 'funf', 'secks'])

dict_values(['eins', 'zwei', 'drei', 'vier', 'funf', 'secks'])

In [18]:
print(D3_1.items())                         # dict_items([(1, 'eins'), (2, 'zwei'), (3, 'drei'), (4, 'vier'), (5, 'funf'), (6, 'secks')])

dict_items([(1, 'eins'), (2, 'zwei'), (3, 'drei'), (4, 'vier'), (5, 'funf'), (6, 'secks')])

In [20]:
# Accessing a Dictionary using key
# If key exists then returns corresponding value. If not then Error
print(D3_2['cuatro'])

4

In [21]:
print(D3_2.get('tres'))                     # If key exists then returns corresponding value. If not then NO ERROR

3

In [22]:
# Accessing a Dictionary using index
# If key exists then returns corresponding value. If not then Error
print(D3_1[1])

eins

In [23]:
print(D3_1.get(2))                          # If key exists then returns corresponding value. If not then NO ERROR

zwei

# Add, Remove & Change Items in Dict

In [24]:
# Changing items in the dict

D7={'Name':'Cristiano','YOB': 1985, 'jersey':9, 'Goals':458, 'Address':'Lisbon'}
D7['jersey']=7
print(D7)
small_D7= {'Name':'Cristiano Ronaldo'}
D7.update(small_D7)
print(D7)

{'Name': 'Cristiano', 'YOB': 1985, 'jersey': 7, 'Goals': 458, 'Address': 'Lisbon'}
{'Name': 'Cristiano Ronaldo', 'YOB': 1985, 'jersey': 7, 'Goals': 458, 'Address': 'Lisbon'}

In [25]:
# Adding items to the end of the Dict

D7['Team']= 'Real Madrid'
print(D7)

{'Name': 'Cristiano Ronaldo', 'YOB': 1985, 'jersey': 7, 'Goals': 458, 'Address': 'Lisbon', 'Team': 'Real Madrid'}

In [26]:
# Removing items from the Dict

In [27]:
D7.pop('Goals')                              # Removes particular item from the Dict
print(D7)

{'Name': 'Cristiano Ronaldo', 'YOB': 1985, 'jersey': 7, 'Address': 'Lisbon', 'Team': 'Real Madrid'}

In [28]:
D1.popitem()                                 # removes a random item from the Dict
print(D1)

{1: 'one', 2: 'two', 3: 'three', 4: 'Four'}

In [29]:
del[D7['YOB']]                               # Removing item using del method
print(D7)

{'Name': 'Cristiano Ronaldo', 'jersey': 7, 'Address': 'Lisbon', 'Team': 'Real Madrid'}

In [30]:
D1.clear()                                   # Delete all items of the dictionary using clear method
print(D1)

{}

In [31]:
# Copy a Dictionary

D8={'Student':'John Doe', 'Id':4624, 'Batch':'Phy-Che-Math'}
D9=D8                                        # Create a new reference D9
print(id(D8)), print(id(D9))                 # The address of both mydict & mydict1 will be the same
D10=D9.copy()
print(id(D10))                               # Address of D10 if different from D8 & D9

2431246341632
2431246341632
2431246492608

In [32]:
 # prints Keys

for i in D3_1:
    print(i)

1
2
3
4
5
6
1 : eins
2 : zwei
3 : drei
4 : vier
5 : funf
6 : secks

In [33]:
# prints values

for i in D3_1:
    print(D3_1[i])

eins
zwei
drei
vier
funf
secks

In [34]:
 # prints Key & value pair

for i in D3_1:
    print(i , ':' , D3_1[i])

1 : eins
2 : zwei
3 : drei
4 : vier
5 : funf
6 : secks