# PANDAS

# Country GDP Analysis

In [2]:
import pandas as pd
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv(r"C:\Users\nikhi\PycharmProjects\NARESH_IT\01_NARESH_IT_PYTHON\Naresh_IT_06_Pandas\data.csv")
print(df)

              CountryName CountryCode  BirthRate  InternetUsers  \
0                   Aruba         ABW     10.244           78.9
1             Afghanistan         AFG     35.253            5.9
2                  Angola         AGO     45.985           19.1
3                 Albania         ALB     12.877           57.2
4    United Arab Emirates         ARE     11.044           88.0
..                    ...         ...        ...            ...
190           Yemen, Rep.         YEM     32.947           20.0
191          South Africa         ZAF     20.850           46.5
192      Congo, Dem. Rep.         COD     42.394            2.2
193                Zambia         ZMB     40.471           15.4
194              Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]

In [4]:
print(id(df))
print(type(df))

2145010121376
<class 'pandas.core.frame.DataFrame'>

In [6]:
print(len(df))
print(df.columns)
print(len(df.columns))

195
Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')
5

In [7]:
print(df.isnull())

     CountryName  CountryCode  BirthRate  InternetUsers  IncomeGroup
0          False        False      False          False        False
1          False        False      False          False        False
2          False        False      False          False        False
3          False        False      False          False        False
4          False        False      False          False        False
..           ...          ...        ...            ...          ...
190        False        False      False          False        False
191        False        False      False          False        False
192        False        False      False          False        False
193        False        False      False          False        False
194        False        False      False          False        False

[195 rows x 5 columns]

In [8]:
print(df.isna())

     CountryName  CountryCode  BirthRate  InternetUsers  IncomeGroup
0          False        False      False          False        False
1          False        False      False          False        False
2          False        False      False          False        False
3          False        False      False          False        False
4          False        False      False          False        False
..           ...          ...        ...            ...          ...
190        False        False      False          False        False
191        False        False      False          False        False
192        False        False      False          False        False
193        False        False      False          False        False
194        False        False      False          False        False

[195 rows x 5 columns]

In [9]:
print(df.isnull().sum())

CountryName      0
CountryCode      0
BirthRate        0
InternetUsers    0
IncomeGroup      0
dtype: int64

In [10]:
print(df.head())

            CountryName CountryCode  BirthRate  InternetUsers  \
0                 Aruba         ABW     10.244           78.9
1           Afghanistan         AFG     35.253            5.9
2                Angola         AGO     45.985           19.1
3               Albania         ALB     12.877           57.2
4  United Arab Emirates         ARE     11.044           88.0

           IncomeGroup
0          High income
1           Low income
2  Upper middle income
3  Upper middle income
4          High income

In [27]:
print(df.head(3))

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income

In [28]:
print(df.head(10))

            CountryName CountryCode  BirthRate  InternetUsers  \
0                 Aruba         ABW     10.244        78.9000
1           Afghanistan         AFG     35.253         5.9000
2                Angola         AGO     45.985        19.1000
3               Albania         ALB     12.877        57.2000
4  United Arab Emirates         ARE     11.044        88.0000
5             Argentina         ARG     17.716        59.9000
6               Armenia         ARM     13.308        41.9000
7   Antigua and Barbuda         ATG     16.447        63.4000
8             Australia         AUS     13.200        83.0000
9               Austria         AUT      9.400        80.6188

           IncomeGroup
0          High income
1           Low income
2  Upper middle income
3  Upper middle income
4          High income
5          High income
6  Lower middle income
7          High income
8          High income
9          High income

In [11]:
print(df.tail())

          CountryName CountryCode  BirthRate  InternetUsers  \
190       Yemen, Rep.         YEM     32.947           20.0
191      South Africa         ZAF     20.850           46.5
192  Congo, Dem. Rep.         COD     42.394            2.2
193            Zambia         ZMB     40.471           15.4
194          Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

In [12]:
print(df.dtypes)

CountryName       object
CountryCode       object
BirthRate        float64
InternetUsers    float64
IncomeGroup       object
dtype: object

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryName    195 non-null    object
 1   CountryCode    195 non-null    object
 2   BirthRate      195 non-null    float64
 3   InternetUsers  195 non-null    float64
 4   IncomeGroup    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB
None

# Slicing in Dataframe

In [22]:
# Accessing Rows

In [14]:
print(df[:])

              CountryName CountryCode  BirthRate  InternetUsers  \
0                   Aruba         ABW     10.244           78.9
1             Afghanistan         AFG     35.253            5.9
2                  Angola         AGO     45.985           19.1
3                 Albania         ALB     12.877           57.2
4    United Arab Emirates         ARE     11.044           88.0
..                    ...         ...        ...            ...
190           Yemen, Rep.         YEM     32.947           20.0
191          South Africa         ZAF     20.850           46.5
192      Congo, Dem. Rep.         COD     42.394            2.2
193                Zambia         ZMB     40.471           15.4
194              Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]

In [15]:
print(df[::-1])

              CountryName CountryCode  BirthRate  InternetUsers  \
194              Zimbabwe         ZWE     35.715           18.5
193                Zambia         ZMB     40.471           15.4
192      Congo, Dem. Rep.         COD     42.394            2.2
191          South Africa         ZAF     20.850           46.5
190           Yemen, Rep.         YEM     32.947           20.0
..                    ...         ...        ...            ...
4    United Arab Emirates         ARE     11.044           88.0
3                 Albania         ALB     12.877           57.2
2                  Angola         AGO     45.985           19.1
1             Afghanistan         AFG     35.253            5.9
0                   Aruba         ABW     10.244           78.9

             IncomeGroup
194           Low income
193  Lower middle income
192           Low income
191  Upper middle income
190  Lower middle income
..                   ...
4            High income
3    Upper middle income
2    Upper middle income
1             Low income
0            High income

[195 rows x 5 columns]

In [16]:
print(df[:11])

             CountryName CountryCode  BirthRate  InternetUsers  \
0                  Aruba         ABW     10.244        78.9000
1            Afghanistan         AFG     35.253         5.9000
2                 Angola         AGO     45.985        19.1000
3                Albania         ALB     12.877        57.2000
4   United Arab Emirates         ARE     11.044        88.0000
5              Argentina         ARG     17.716        59.9000
6                Armenia         ARM     13.308        41.9000
7    Antigua and Barbuda         ATG     16.447        63.4000
8              Australia         AUS     13.200        83.0000
9                Austria         AUT      9.400        80.6188
10            Azerbaijan         AZE     18.300        58.7000

            IncomeGroup
0           High income
1            Low income
2   Upper middle income
3   Upper middle income
4           High income
5           High income
6   Lower middle income
7           High income
8           High income
9           High income
10  Upper middle income

In [17]:
print(df[0:200:50])

    CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0         Aruba         ABW     10.244      78.900000          High income
50      Ecuador         ECU     21.070      40.353684  Upper middle income
100       Libya         LBY     21.425      16.500000  Upper middle income
150       Sudan         SDN     33.477      22.700000  Lower middle income

In [23]:
# Accessing Columns

In [24]:
print(df['CountryName'])

0                     Aruba
1               Afghanistan
2                    Angola
3                   Albania
4      United Arab Emirates
               ...
190             Yemen, Rep.
191            South Africa
192        Congo, Dem. Rep.
193                  Zambia
194                Zimbabwe
Name: CountryName, Length: 195, dtype: object

In [25]:
print(df[['CountryName','CountryCode']])

              CountryName CountryCode
0                   Aruba         ABW
1             Afghanistan         AFG
2                  Angola         AGO
3                 Albania         ALB
4    United Arab Emirates         ARE
..                    ...         ...
190           Yemen, Rep.         YEM
191          South Africa         ZAF
192      Congo, Dem. Rep.         COD
193                Zambia         ZMB
194              Zimbabwe         ZWE

[195 rows x 2 columns]

In [26]:
print(df[['CountryName','CountryCode','BirthRate']])

              CountryName CountryCode  BirthRate
0                   Aruba         ABW     10.244
1             Afghanistan         AFG     35.253
2                  Angola         AGO     45.985
3                 Albania         ALB     12.877
4    United Arab Emirates         ARE     11.044
..                    ...         ...        ...
190           Yemen, Rep.         YEM     32.947
191          South Africa         ZAF     20.850
192      Congo, Dem. Rep.         COD     42.394
193                Zambia         ZMB     40.471
194              Zimbabwe         ZWE     35.715

[195 rows x 3 columns]

# Descriptive Statistics

In [30]:
# Descriptive Statistics (shows only numerical data)

        BirthRate  InternetUsers
count  195.000000     195.000000
mean    21.469928      42.076471
std     10.605467      29.030788
min      7.900000       0.900000
25%     12.120500      14.520000
50%     19.680000      41.000000
75%     29.759500      66.225000
max     49.661000      96.546800

In [36]:
df_cat = df[['CountryName','CountryCode','BirthRate']]
print(df_cat)

              CountryName CountryCode  BirthRate
0                   Aruba         ABW     10.244
1             Afghanistan         AFG     35.253
2                  Angola         AGO     45.985
3                 Albania         ALB     12.877
4    United Arab Emirates         ARE     11.044
..                    ...         ...        ...
190           Yemen, Rep.         YEM     32.947
191          South Africa         ZAF     20.850
192      Congo, Dem. Rep.         COD     42.394
193                Zambia         ZMB     40.471
194              Zimbabwe         ZWE     35.715

[195 rows x 3 columns]

In [37]:
print(df_cat.describe())

        BirthRate
count  195.000000
mean    21.469928
std     10.605467
min      7.900000
25%     12.120500
50%     19.680000
75%     29.759500
max     49.661000

In [31]:
# TRANSPO
# converts row into columns and columns into rows
print(df.describe().T)

               count       mean        std  min      25%    50%      75%  \
BirthRate      195.0  21.469928  10.605467  7.9  12.1205  19.68  29.7595
InternetUsers  195.0  42.076471  29.030788  0.9  14.5200  41.00  66.2250

                   max
BirthRate      49.6610
InternetUsers  96.5468