# FUNCTIONS

In [1]:
def greet():
    print('hello')
    print('good morning')
    # when we run the code we won't get any output

In [2]:
def greet():
    print('hello')
    print('good morning')
    
greet()

hello
good morning

In [3]:
def greet():
    print('hello')
    print('good noon')
    
greet()
greet()

hello
good noon
hello
good noon

In [4]:
def greet():
    print('hello')
    print('good noon')
    
greet()
print()
greet()

hello
good noon

hello
good noon

In [5]:
def add(x,y):
    c=x+y
    print(c)  
    
add(5,6)

11

In [6]:
def add(x,y,z):
    c=x+y+z
    print(c)  
    
add(1,4,5)

10

In [7]:
# We can create mutliple function and call them as many time as you want

def greet():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d = x-y-z
    print(d)
    
greet()    
add(5,4)
sub(10,2,4)

hello
good noon
9
4

In [8]:
def greet():
    print('hello')
    print('good noon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good noon
12

In [9]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
add_sub(4,5)

(9, -1)

In [10]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [11]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [12]:
def update(): 
    x = 8
    print(x)

# update(8) ---------error
update()

8

In [13]:
def update(x):
    x = 8
    print(x)
    
update(10)

8

In [14]:
def update(x):  
    x = 8
    print(x)
    
a = 10

update(a)
print(a)

8
10

In [15]:
def update(x):  
    x = 8 
    
a = 10

update(a)            # coz there is no return/print in the function       
print(a)

10

### In python no concept called pass by value or pass by function

In [16]:
def change(a):
    a = a+ 10
    print('inside the fun a =',a)
    
x = 10
print('x before calling:', x)
change(x)
print('x after calling:', x)

x before calling: 10
inside the fun a = 20
x after calling: 10

In [17]:
def change(a):
    a = a+ 10
    print('inside the fun a =',a)
    
a = 10
print('a before calling:', a)
change(a)
print('a after calling:', a)

a before calling: 10
inside the fun a = 20
a after calling: 10

In [18]:
def change(a):
    print('This is original a',id(a))
    a = a+ 10
    print('This is the new a =',a)
    print('inside the fun a =',a)
    
a = 10
print('a before calling:', a)
print('This is main a:',id(a))
change(a)
print('a after calling:', a)

a before calling: 10
This is main a: 140734076431064
This is original a 140734076431064
This is the new a = 20
inside the fun a = 20
a after calling: 10

In [19]:
def change(a):
    print('This is original a',id(a))
    a = a+ 10
    print('This is the new a =',id(a))
    print('inside the fun a =',a)
    
a = 10
print('a before calling:', a)
print('This is main a:',id(a))
change(a)
print('a after calling:', a)

a before calling: 10
This is main a: 140734076431064
This is original a 140734076431064
This is the new a = 140734076431384
inside the fun a = 20
a after calling: 10

In [20]:
def change(lst):
    lst[0] = lst[0]+10
    print('inside fun =', lst)
    
lst = [10]
print('Before calling:', lst)
change(lst)
print('After calling:',lst)

Before calling: [10]
inside fun = [20]
After calling: [20]

In [21]:
def update(x):   
    x = 8
    print('x : ', x)    

a = 10
update(a)
print('a : ',a)

x :  8
a :  10

In [22]:
def update(x):   
    print(id(x))
    x = 8
    #print(id(x))
    print('x: ', x)    

a = 10
print(id(a))
update(a)
print('a: ',a)

140734076431064
140734076431064
x:  8
a:  10

In [23]:
def update(x):   
    #print(id(x))
    x = 8
    print(id(x))
    print('x: ', x)    

a = 10
print(id(a))
update(a)
print('a: ',a)

140734076431064
140734076431000
x:  8
a:  10

In [24]:
def update(x):   
    print(id(x))
    x = 8
    print(id(x)) 
    print('x', x)    

a = 10
print(id(a))
update(a)
print('a',a)

140734076431064
140734076431064
140734076431000
x 8
a 10

In [25]:
def update(lst):   
    print(id(lst))
    
    lst[1] = 25
    print(id(lst))
    print('x: ', lst)    

lst = [10,20,30] 

print(lst)
print(id(lst))
update(lst)
print('lst: ',lst)

[10, 20, 30]
2176657081920
2176657081920
2176657081920
x:  [10, 25, 30]
lst:  [10, 25, 30]

In [26]:
def modify_integer(x):
    x = 10
    print("Inside function:", x)    
    
my_integer = 5
modify_integer(my_integer)
print("Outside function:", my_integer)

Inside function: 10
Outside function: 5

In [27]:
def modify_integer(x):
    x = 10
    print("Inside function:", x)  
    print('Inside function:',id(x))
    
my_integer = 5
modify_integer(my_integer)
print("Outside function:", my_integer)
print('Outside function:',id(x))

Inside function: 10
Inside function: 140734076431064
Outside function: 5
Outside function: 140734076431064

In [28]:
def modify_integer(x):
    print('original Inside function:',id(x))
    x = 10
    print("Inside function:", x)  
    print('Inside function:',id(x))
    
my_integer = 5
modify_integer(my_integer)
print("Outside function:", my_integer)
print('Outside function:',id(x))

original Inside function: 140734076430904
Inside function: 10
Inside function: 140734076431064
Outside function: 5
Outside function: 140734076431064

In [29]:
def modify_list(my_list):
    my_list.append(4)
    print("Inside function:", my_list)

my_list = [1, 2, 3]
modify_list(my_list)
print("Outside function:", my_list)

Inside function: [1, 2, 3, 4]
Outside function: [1, 2, 3, 4]

In [30]:
def modify_list(my_list):
    print("original Inside function:", id(my_list))
    my_list.append(4)
    print("Inside function:", my_list)
    print("Inside function:", id(my_list))

my_list = [1, 2, 3]
modify_list(my_list)
print("Outside function:", my_list)
print("Outside function:", id(my_list))

original Inside function: 2176657086016
Inside function: [1, 2, 3, 4]
Inside function: 2176657086016
Outside function: [1, 2, 3, 4]
Outside function: 2176657086016

## TYPE OF ARGUMENTS --> formal argument & actual argument

In [31]:
def add(a,b):   # a & b are called formal argument
    c = a+b
    print(c)
    
add(5,6)        # 5 and 6 are called actual argument

11

In [32]:
def add(a,b,d,e):  # a,b,d,e are called formal argument
    c = a+b+d
    print(c)
    
add(5,6,7,8)       # 5,6,7,8 are called actual argument

18

## ACTUAL ARGUMENTS --> Positional, Keyword, Default, Variable Length

### Postitional Arguments

In [44]:
def person(name,age):
    print(name)
    print(age)
    
person('nit', 22)

# This function call uses **positional arguments**.
# 'nit' is assigned to the first parameter 'name', and 22 is assigned to 'age'.
# The order in which arguments are passed **must** match the function's parameter order.

nit
22

In [45]:
'''
def person(name,age):
    print(name)
    print(age-5)
    
person(22,'nit')
'''

# in this case we assigned name - 20 & age to 'nit'. 
# as we keep incorrect position this code trhoughs an error.

def person(name,age):
    print(name)
    print(age-5)
    
person('nit',20)                    # correct format

nit
15

### Keyword Arguments

In [46]:
# If there are many parameters (say 10 or more), remembering the correct order becomes error-prone.
# In such cases, using **keyword arguments** 

def person(name,age):
    print(name)
    print(age-5)
    
person(age = 20, name = 'nit') 

#this is called keyword arguments

nit
15

In [47]:
def person(name, age, age2):
    print(name)
    print(age)
    print(age2)
    
person(age = 20,  name = 'nit', age2 = 10)

nit
20
10

### Default Arguments

In [53]:
def person(name,age = 18):           # by default the age is 18  
    print(name)
    print(age)
    
person('nit',24)                     # here bydefault override the existing default value

nit
24

### Variable Length Arguments

In [58]:
'''
def sum(a, *b):
    c = a+b
    print(c)

sum(5,6,7,8) '''
# we get error as int & tuple error becuase a is integer & b is tuple


def sum(a, *b):                        # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [59]:
def sum(a, *b):                        # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(a)
    print(b)

sum(5,6,7,8)

5
(6, 7, 8)

In [55]:
# Everytime we cant add only 2 value we can also pass more the 3 values
# you can define the function when the number of argument are not fixed

def sum(a, *b):                        # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [60]:
def sum(a, *b): 
    
    c = a 
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8,9)

35

In [61]:
def sum(a, *b): 
    
    c = 0
    
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8)

21

In [62]:
def sum(a, *b): 
    
    c = 0
    for i in b:
        c = c + i 
    print(c)
    
sum(5,6,7,8,5,7,7,89,-100,23)

52

## KWARGs (Key-Worded Variable length Arguments)

In [63]:
def person():
    person('ALEX', 36, 'JOHN', 987767)

In [64]:
def person(name,*data):
    print(name)
    print(data)

person('ALEX', 36, 'JOHN', 987767)

ALEX
(36, 'JOHN', 987767)

In [65]:
'''
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)
'''
# we get an error as 'keyword-argument', thats why we add another * -------- **kwargs

def person(name, **data):
    print(name)
    print(data)

person('mark', age = 36, home_place ='southcity', mob =987767)

mark
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [66]:
def person(name,**data):
    print('name')
    print(data)

person('mark', age = 36, home_place ='southcity', mob =987767, edu='phd', actor = 'john')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'edu': 'phd', 'actor': 'john'}

In [67]:
def person(name, **data):
    print(name)
    
    for i, j in data.items():
        print(i, j)
        
person('john', age = 36, home_place ='southcity', mob =987767, place = 'USA')

john
age 36
home_place southcity
mob 987767
place USA

## Local VS Global variables

In [68]:
a = 10                                     
#-- global variable 

def something():
    b = 15                              #local variable
    print('in function',b)    
    print('out function',a)    

# in this code we are declaring 2 variable 
# first line of a is called outside of the function 
# inside the function is called local variable

In [69]:
a = 10  

def something():
    b = 15
    print('in function',b)    
    
print('out function',a)    

# first line of a is called outside of the function 
# inside the function is called local variable

out function 10

In [70]:
a = 10  

def something():
    a = 15
    
print('in function',a) 
  
print('out function',a)

# first line of a is called outside of the function 
# inside the function is called local variable

in function 10
out function 10

In [72]:
a = 10  

def something():
    a = 15              # here 'a' is local variable 
    b = 8
    print(b)
    print(a)

print(a)
something()

10
8
15

In [73]:
a = 10  

def something():
    a = 15
    print('in function',a)  # local variable
    
print('out function',a) #gloabl variable

# In this code we ddint call the function

out function 10

In [74]:
a = 10  

def something():
    b = 15
    print('in function',b)  # local variable
 
something()

print('out function',a) #gloabl variable

# 1st preference is always local variable

in function 15
out function 10

In [75]:
a = 10  

def something():
    #if we remove this variable then can befault it consider as global variable
    print('in function',a)
    
something()
print('out function',a)
# if we dont assign any variable inside the functin bydefault both considerd as local variable

in function 10
out function 10