# SET

In [2]:
 # empty Dictionary
S0={}                              
print(type(S0))

# empty set
S={}                                
S=set()
print(type(S))

<class 'dict'>
<class 'set'>

In [3]:
# Duplicates not allowed
# Set is bot mutable & immutable (items can be added/removed but cannot be manipulated)
# Can store multiple datatypes, but no nested sets,etc not allowed
# Indexing/Slicing not allowed
      # print(S[0]) ----> Error
# Set is not duplicable

In [4]:
S1={7,6,2,4,9,5,8,3,1,2,45,9}
print(S1)
print(len(S1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45}
10

In [5]:
S2={4, 'style', 96, 7.21, 2+3j, False}
print(type(S2))
print(len(S2))
print(S2)

<class 'set'>
6
{96, False, 4, 7.21, 'style', (2+3j)}

In [6]:
print(max(S1))

45

In [7]:
print(min(S1))

1

In [8]:
print(sum(S1))

90

In [9]:
for i in enumerate(S2):
    print(i)

(0, 96)
(1, False)
(2, 4)
(3, 7.21)
(4, 'style')
(5, (2+3j))

# Set Membership

In [10]:
print('style' in S2)                                 # False
print(1 in S2)                                       # True

True
False

# Basic Set Methods

In [11]:
 # Adds element to the end of the set
S1.add(27)                                          
print(S1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 27}

In [12]:
# copies 1 set into another
S3=S1.copy()                                         
print(S3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 27}

In [13]:
# removes all the elements from the set
S3.clear()                                           
print(S3)

set()

In [15]:
 # removes random elements from the set
S1.pop()                                            
print(S1)

{3, 4, 5, 6, 7, 8, 9, 45, 27}

In [16]:
S1.update([69,52,36])                                
# S1.update(74) ---> Error
print(S1)

{3, 4, 5, 6, 7, 8, 9, 69, 36, 45, 52, 27}

In [17]:
# If element in the set then removes it. If not then Error
S1.remove(9) 
# S1.remove(11) ---> Error
print(S1)

{3, 4, 5, 6, 7, 8, 69, 36, 45, 52, 27}

In [18]:
# If element in the set then removes it. If not then NO ERROR
S1.discard(11)                                       
print(S1)

{3, 4, 5, 6, 7, 8, 69, 36, 45, 52, 27}

# Superset, Subset, Disjoint

In [19]:
# Superset, Subset, Disjoint = Dad, Son, Neighbour

In [21]:
X={1,2,3,4,5,6,7,8,9}
Y={3,4,5,6,7,8}
Z={23,49,77}
W={7,8,9,10,11,12}

print(X.issuperset(Y))                               # True
print(Y.issubset(X))                                 # True
print(X.isdisjoint(Z))                               # True
print(Z.isdisjoint(X))                               # True
print(W.issubset(X))                                 # False

True
True
True
True
False

# Set operations

In [22]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [28]:
# Union

print(A|B)                                            # {1,2,3,4,5,6,7,8}
print(A.union(B))                                     # {1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
# Intersection

print(A&B)                                            # {4,5}
print(A.intersection(B))                              # {4,5}

{6, 7}
{6, 7}

In [30]:
# Difference

print(A-B)                                            # {1,2,3}
print(A.difference(B))                                # {1,2,3}
print(B-A)                                            # {8,6,7}
print(B.difference(A))                                # {8,6,7}

{8, 1, 2, 3}
{8, 1, 2, 3}
{9, 10, 4, 5}
{9, 10, 4, 5}

In [31]:
# Symmetric Difference

print(A^B)                                            # {1,2,3,6,7,8}
print(A.symmetric_difference(B))                      # {1,2,3,6,7,8}
print(B^A)                                            # {1,2,3,6,7,8}
print(B.symmetric_difference(A))                      # {1,2,3,6,7,8}

{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 3, 4, 5, 8, 9, 10}

In [32]:
# Symmetric Difference Update

A.symmetric_difference_update(B)                      # A= {1,2,3,6,7,8}
print(A)
B.symmetric_difference_update(C)                      # B= {4,5,6,7,9,10}
print(B)

{1, 2, 3, 4, 5, 8, 9, 10}
{4, 5, 6, 7, 8}

In [33]:
S6= {3,9,2,'trdhs', 6+2j, 3,True, 7.5, False}
S7= {0, False, 0+0j, 0.0}
S8= {4, 8, 3, 4, 8.2, 'yoyo', True}

In [34]:
 # Checks if any one element in the list is True/non-zero
print(any(S6))                          
print(any(S7))
print(any(S8))

True
False
True

In [35]:
 # Checks if all the elements in the list are True/non-zero
print(all(S6))                          
print(all(S7))
print(all(S8))

False
False
True