# TUPLE

In [1]:
# empty Tuple
T=()

In [2]:
# Duplicates allowed
# Immutable
# Can store multiple datatypes and nested tuple,etc
# Bank data is stored in Tuple format so that data can't be added or deleted, but can be duplicated

In [3]:
T1= (4,6,8,3,6,7,2,1,6,4,8,7,5,6,4)

15

In [4]:
print(len(T1))

15

In [5]:
print(max(T1))

8

In [6]:
print(min(T1))

1

In [7]:
print(sum(T1))

77

In [9]:
for i in enumerate(T1):
    print (i)

(0, 4)
(1, 6)
(2, 8)
(3, 3)
(4, 6)
(5, 7)
(6, 2)
(7, 1)
(8, 6)
(9, 4)
(10, 8)
(11, 7)
(12, 5)
(13, 6)
(14, 4)

In [15]:
# Tuple is duplicable
t1=(4, 3.5, 'cygfyu', 49+92j, False)
t2=t1*3
print(t2)

(4, 3.5, 'cygfyu', (49+92j), False, 4, 3.5, 'cygfyu', (49+92j), False, 4, 3.5, 'cygfyu', (49+92j), False)

# Tuple Membership

In [10]:
print(45 in T1)       
print(3 in T1)

False
True

# Nested Tuple Indexing

In [11]:
t = ('str', 4, 6.7, (9,4,7,6,5,2,8), 5+8j)
print(t[3])
print(t[3][0])
print(t[3][1])
print(t[3][2])
print(t[3][3])

(9, 4, 7, 6, 5, 2, 8)
9
4
7
6

# Tuple Methods

In [12]:
 # counts the no of occurances of the element
print(T1.count(6))

4

In [13]:
# prints the index of first occurance of the element
print(T1.index(7))

5

In [16]:
T2= (3,9,2,'trdhs', 6+2j, 3,True, 7.5, False)
T3= (0, False, 0+0j, 0.0)
T4= (4, 8, 3, 4, 8.2, 'yoyo', True)

In [17]:
# Checks if any one element in the tuple is True/non-zero
print(any(T2))                           
print(any(T3))
print(any(T4))

True
False
True

In [18]:
# Checks if all the elements in the tuple are True/non-zero
print(all(T2))                           
print(all(T3))
print(all(T4))

False
False
True