In [11]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\nikhi\PycharmProjects\NARESH_IT\07_NARESH_IT_STATISTICS\Naresh_IT_07_01_Statistics\Salary_Data.csv")

# Mean

In [14]:
df.mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

In [15]:
df['Salary'].mean()

76003.0

# Median

In [16]:
df.median()

YearsExperience        4.7
Salary             65237.0
dtype: float64

In [17]:
df['Salary'].median()

65237.0

# Mode

In [19]:
df['Salary'].mode()

0      37731
1      39343
2      39891
3      43525
4      46205
5      54445
6      55794
7      56642
8      56957
9      57081
10     57189
11     60150
12     61111
13     63218
14     64445
15     66029
16     67938
17     81363
18     83088
19     91738
20     93940
21     98273
22    101302
23    105582
24    109431
25    112635
26    113812
27    116969
28    121872
29    122391
Name: Salary, dtype: int64

# Variance

In [25]:
df.var()

YearsExperience    8.053609e+00
Salary             7.515510e+08
dtype: float64

In [26]:
df['Salary'].var()

751550960.4137931

# Standard Deviation

In [27]:
df.std()

YearsExperience        2.837888
Salary             27414.429785
dtype: float64

In [28]:
df['Salary'].std()

27414.4297845823

# Coefficient of Variation (cv)

In [34]:
from scipy.stats import variation

In [35]:
variation(df)

array([0.5251297 , 0.35463929])

In [36]:
variation(df['Salary'])

0.3546392938275572

# Correlation

In [37]:
df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [39]:
df['Salary'].corr(df['YearsExperience'])

0.9782416184887598

# Skewness

In [40]:
df.skew()

YearsExperience    0.37956
Salary             0.35412
dtype: float64

In [41]:
df['Salary'].skew()

0.35411967922959153

# Standard Error

In [43]:
df.sem()

YearsExperience       0.518125
Salary             5005.167198
dtype: float64

In [44]:
df['Salary'].sem()

5005.167198052405

# Standardized Variable (z-score)

In [47]:
import scipy.stats as stats

In [48]:
df.apply(stats.zscore)

    YearsExperience    Salary
0         -1.510053 -1.360113
1         -1.438373 -1.105527
2         -1.366693 -1.419919
3         -1.187494 -1.204957
4         -1.115814 -1.339781
5         -0.864935 -0.718307
6         -0.829096 -0.588158
7         -0.757416 -0.799817
8         -0.757416 -0.428810
9         -0.578216 -0.698013
10        -0.506537 -0.474333
11        -0.470697 -0.749769
12        -0.470697 -0.706620
13        -0.434857 -0.702020
14        -0.291498 -0.552504
15        -0.148138 -0.299217
16        -0.076458 -0.370043
17        -0.004779  0.262859
18         0.210261  0.198860
19         0.246100  0.665476
20         0.532819  0.583780
21         0.640339  0.826233
22         0.927058  0.938611
23         1.034577  1.402741
24         1.213777  1.240203
25         1.321296  1.097402
26         1.500496  1.519868
27         1.536336  1.359074
28         1.787215  1.721028
29         1.858894  1.701773

In [50]:
stats.zscore(df)

    YearsExperience    Salary
0         -1.510053 -1.360113
1         -1.438373 -1.105527
2         -1.366693 -1.419919
3         -1.187494 -1.204957
4         -1.115814 -1.339781
5         -0.864935 -0.718307
6         -0.829096 -0.588158
7         -0.757416 -0.799817
8         -0.757416 -0.428810
9         -0.578216 -0.698013
10        -0.506537 -0.474333
11        -0.470697 -0.749769
12        -0.470697 -0.706620
13        -0.434857 -0.702020
14        -0.291498 -0.552504
15        -0.148138 -0.299217
16        -0.076458 -0.370043
17        -0.004779  0.262859
18         0.210261  0.198860
19         0.246100  0.665476
20         0.532819  0.583780
21         0.640339  0.826233
22         0.927058  0.938611
23         1.034577  1.402741
24         1.213777  1.240203
25         1.321296  1.097402
26         1.500496  1.519868
27         1.536336  1.359074
28         1.787215  1.721028
29         1.858894  1.701773

In [49]:
stats.zscore(df['Salary'])

0    -1.360113
1    -1.105527
2    -1.419919
3    -1.204957
4    -1.339781
5    -0.718307
6    -0.588158
7    -0.799817
8    -0.428810
9    -0.698013
10   -0.474333
11   -0.749769
12   -0.706620
13   -0.702020
14   -0.552504
15   -0.299217
16   -0.370043
17    0.262859
18    0.198860
19    0.665476
20    0.583780
21    0.826233
22    0.938611
23    1.402741
24    1.240203
25    1.097402
26    1.519868
27    1.359074
28    1.721028
29    1.701773
Name: Salary, dtype: float64

# Degreee of Freedom

In [51]:
a = df.shape[0]   # no of rows
b = df.shape[1]   # no of columns

degree_of_freedom = a-b
degree_of_freedom

28

# Sum of Squares Regressor (SSR)

In [57]:
X = df.iloc[:,:-1]     # Independent variable
Y = df.iloc[:,1]       # Dependent variable

Y_mean = np.mean(Y)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)
Y_predict = reg.predict(X_test)

SSR = np.sum((Y_predict-Y_mean)**2)
SSR

6263152884.284127

# Sum of Squares Error (SSE)

In [59]:
X = df.iloc[:,:-1]     # Independent variable
Y = df.iloc[:,1]       # Dependent variable

Y_mean = np.mean(Y)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)
Y = Y[0:6]
Y_predict = reg.predict(X_test)

SSE = np.sum((Y-Y_predict)**2)
SSE

15274062883.9432

# Sum os Squares Total

In [61]:
X = df.iloc[:,:-1]     # Independent variable
Y = df.iloc[:,1]       # Dependent variable

Y_mean = np.mean(Y)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)
Y = Y[0:6]
Y_predict = reg.predict(X_test)

SSR = np.sum((Y_predict-Y_mean)**2)
SSE = np.sum((Y-Y_predict)**2)

SST = SSR + SSE
SST

21537215768.227325

# R-Square

In [66]:
X = df.iloc[:,:-1]     # Independent variable
Y = df.iloc[:,1]       # Dependent variable

Y_mean = np.mean(Y)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)
Y = Y[0:6]
Y_predict = reg.predict(X_test)

SSR = np.sum((Y_predict-Y_mean)**2)
SSE = np.sum((Y-Y_predict)**2)
SST = SSR + SSE

R2_1 = 1-(SSR/SST)
R2_2 = SSE/SST
print(R2_1)
print(R2_2)

0.7091939389155485
0.7091939389155486

# Bias & Variance

In [68]:
# Bias
bias = reg.score(X_train,Y_train)
bias

0.9411949620562126

In [69]:
# Variance
variance = reg.score(X_test,Y_test)
variance

0.988169515729126

# Train MSE & Test MSE

In [72]:
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(Y_train, reg.predict(X_train))
test_mse = mean_squared_error(Y_test, Y_predict)
print(train_mse)
print(test_mse)

36149670.11816131
12823412.298126562